@charset "UTF-8";

@charset "UTF-8";

.btn {
  background-color: #ffffff;
  color: black;
  width: 150px;
  border : solid 1px #000 ;
}

.btn-return {
	margin-top:106px;
	margin-left:355px;
}

.btn-ok {
	position: absolute;
	margin-left:185px;
	margin-top:130px;
}

.table {
	left:110px;
	position: absolute;
}

.address-txt {
	width: 560px;
}

.category {
	width: 177px;
	border-color:#9932CC;
}

.categoryColor {
	color:#9932CC;
}


th{
	text-align: right;
}

.namesize {
	width: 280px;
}





